h1{
    text-decoration-line: underline;
    text-align: center;
    font-size : 200px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;

}
img{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-style: solid;color: black;
}
body{
    background: rgb(red, green, blue);
}