h1{
    text-decoration-line: underline;
    text-align: center;
    font-size : 50px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;

}
    .lista { background-color: blanchedalmond; }

img{
    
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-style: solid;color: black;
}
body{
    background-color: rgb(235, 163, 75);}
    p{  
        font-weight: bold;
        text-align: center;
        color: blueviolet;
        }   
      
    .p1{  color: black;   }
   
    
   

